@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "assets/css/utilities.css";
@import "assets/css/common.css";
@import "assets/css/content.css";
@import "assets/css/avatar.css";
@import "assets/css/dark-mode-switch.css";
@import "assets/css/stars.css";

.cc-flatten-p {
  p {
    @apply my-0;
    & + p {
      @apply mt-2;
    }
  }
}
